.barchart{
    height: 300px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.barchart > *{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 4em;
    margin: 0 0.5em;

    text-align: center;
    
    position: relative;
}

.barchart > * .height,
.barchart > * .name {
    transform: translateX(-50%);
}



.barchart .height{
    background-color: lightsalmon;
}

.barchart .name{
    position: absolute;
}


.barchart .selected .height{
    background-color: rgb(167, 87, 63);
}
.barchart .selected .name{
    font-weight: bold;
}

.barchart > *:nth-child(odd) .name{
    bottom: -1.5em;
}

.barchart > *:nth-child(even) .name{
    bottom: -3em;
}